$primaryColor:#F01159 !default;
$primaryTextColor:#f7f8f3 !default;
$accentColor:#F01159 !default;
$accentTextColor:#ffffff !default;
$bgDeepColor : #1C284C;
$bgColor : #1C284C;

@import '../../variables';
@import '../../../_compact';