header{
    position: relative;
    display: flex;
    flex-direction: column;
}

.box-semicircle{
    position: absolute;
    height: 400px;
    width: 100%;
    top: -20vh;
    z-index: 1;
}

.semicircle {
    position: relative;
    background: #1C284C;
    height: 45vh;
  }
  
  .semicircle::before {
    position: absolute;
    content: '';
    left: 50%;
    z-index: 10;
    width: 100%;
    max-width: 100vw;
    height: 90px;
    border-radius: 50%;
    background: inherit;
    transform: translateX(-50%) translateY(50%);
    bottom: 0px;
  }

.logo{
    z-index: 10;
}